<!DOCTYPE html>
<html>
  <head>
    <title>Crypto-Transaction Analysis</title>
    <style>
      .load {
        width: 300px;
        border: 1px solid black;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 10px;
      }
      .load th,
      .load td {
        padding: 6px;
        text-align: center;
      }
    </style>
    {{ turbo() }}
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include "transactions.html" %} {% block content %}{% endblock %}

    <form method="post" action="/">
      <input type="submit" value="Filter" name="Filter" />
      <input type="submit" value="Reset" name="Reset" />
    </form>
  </body>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
  </script>
</html>
