<!DOCTYPE html>
<html>
  <head>
    <title>Crypto-Transaction Analysis</title>
    {{ turbo() }}
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include "transactions.html" %} {% block content %}{% endblock %}

    <!-- <form method="post" action="/">
      <input type="submit" value="Filter" name="Filter" />
      <input type="submit" value="Reset" name="Reset" />
    </form> -->
  </body>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</html>
